.github/** -linguist-vendored
.github/** linguist-detectable
docs/** -linguist-documentation
docs/** linguist-detectable
*.mhtml linguist-language=hmtl linguist-detectable
*.woff2 linguist-language=css linguist-detectable
