*.css linguist-language=css linguist-detectable
*.html linguist-language=hmtl linguist-detectable
*.xhtml linguist-language=hmtl linguist-detectable
*.js linguist-language=js linguist-detectable
docs/ linguist-detectable
