  @media only screen and (max-width: 479px) { .FdCeP { font-size: 33.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .FdCeP { font-size: 41.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .FdCeP { font-size: 48.0pt; } }
  @media only screen and (min-width: 1280px) { .FdCeP { font-size: 48.0pt; } }

section[id="h.2ae2110b4c077c87_353"] .IFuOkc:before { opacity: 0.5; }
section[id="h.2ae2110b4c077c87_361"] .IFuOkc:before { opacity: 0.5; }