  @media only screen and (max-width: 479px) { .afVDVd { font-size: 40.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .afVDVd { font-size: 51.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (min-width: 1280px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (max-width: 479px) { .KB0Tx { font-size: 18.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .KB0Tx { font-size: 19.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (min-width: 1280px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (max-width: 479px) { .jW0mOd { font-size: 16.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 1280px) { .jW0mOd { font-size: 17.0pt; } }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(233,237,235,1);
}
body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body > div * {
  box-sizing: border-box;
}
.main {
  flex: 0 0 auto;
  outline: none;
}
#header {
  background-size: cover;
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
#header::before, #header > .img::before {
  content: "";
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
}
.img {
  display: table-cell;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  position: absolute;
}
section[id="header"] > .img::before {
  display: block !important;
  background-color: rgba(255,255,255,1);
  opacity: 0.6;
}


#h3 { background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      text-align: left;
      text-indent: 0; }
#h3span { line-height: 1.524;
	  color: #0000ff;
	  font-family: 'Amarante', 'Arial';
	  font-size: 17pt;
	  vertical-align: baseline; }
#p1 { background-color: transparent;
      border: none;
      line-height: 1.8599999999999999;
      margin: 0; 
      margin-top: 11pt;
      padding: 0;
      text-align: left;
      text-indent: 0; 
      font-family: 'Architects Daughter', 'Arial';
      color: #000000;
      font-size: 13pt;
      text-decoration: normal; }
#p1span { text-decoration: underline;
	  vertical-align: baseline; }
#p2 { background-color: transparent;
      border: none
      line-height: 1.8599999999999999;
      margin: 0pt;
      padding: 0;
      text-align: right;
      text-indent: 0;
      font-family: 'Architects Daughter', 'Arial';
      color: #000000;
      font-size: 13pt;
      text-decoration: normal; }

@media only screen and (max-width: 767px) {
  #header {
    padding-bottom: 0rem !important;
    padding-top: 0rem ! important;
  }
}