.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  margin: auto;
  text-align: center;
}
.iframe {
  height: 95vh;
  width: 95%;
  background-color: rgb(255, 255, 255);
  margin: 2%;
  border: 3px solid black;
}
.modal-close {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  color: black;
  background-color: white;
  border: 3px solid grey;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  padding: 6px;
  font-family: 'Arial';
  font-size: 22px;
  cursor: pointer;
}