  @media only screen and (max-width: 479px) { .afVDVd { font-size: 40.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .afVDVd { font-size: 51.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (min-width: 1280px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (max-width: 479px) { .KB0Tx { font-size: 18.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .KB0Tx { font-size: 19.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (min-width: 1280px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (max-width: 479px) { .jW0mOd { font-size: 16.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 1280px) { .jW0mOd { font-size: 17.0pt; } }

section[id="h.6c4b23a2966b736b_0"] .IFuOkc:before { opacity: 0.6; }

#h3 { background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      text-align: left;
      text-indent: 0; }
#h3span { line-height: 1.524;
	  color: #0000ff;
	  font-family: 'Amarante', 'Arial';
	  font-size: 17pt;
	  vertical-align: baseline; }
#p1 { background-color: transparent;
      border: none;
      line-height: 1.8599999999999999;
      margin: 0; 
      margin-top: 11pt;
      padding: 0;
      text-align: left;
      text-indent: 0; 
      font-family: 'Architects Daughter', 'Arial';
      color: #000000;
      font-size: 13pt;
      text-decoration: normal; }
#p1span { text-decoration: underline;
	  vertical-align: baseline; }
#p2 { background-color: transparent;
      border: none
      line-height: 1.8599999999999999;
      margin: 0pt;
      padding: 0;
      text-align: right;
      text-indent: 0;
      font-family: 'Architects Daughter', 'Arial';
      color: #000000;
      font-size: 13pt;
      text-decoration: normal; }