  @media only screen and (max-width: 479px) { .afVDVd { font-size: 40.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .afVDVd { font-size: 51.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (min-width: 1280px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (max-width: 479px) { .KB0Tx { font-size: 18.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .KB0Tx { font-size: 19.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (min-width: 1280px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (max-width: 479px) { .jW0mOd { font-size: 16.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 1280px) { .jW0mOd { font-size: 17.0pt; } }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(233,237,235,1);
}
body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body > div * {
  box-sizing: border-box;
}
.main {
  flex: 0 0 auto;
  outline: none;
}
section.header, section.intro {
  background-size: cover;
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  background-color: rgb(255, 255, 255);
}
section.header::before, section.header > .img::before, .abovetext > small::before {
  content: "";
  display: none;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
}
.img {
  display: table-cell;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  position: absolute;
  border-bottom-color: rgba(95,182,149,1);
  border-bottom-style: ridge;
  border-bottom-width: 10px;
}
section.header > .img::before {
  display: block !important;
  background-color: rgba(255,255,255,1);
  opacity: 0.6;
}
section.header > .header-text {
  padding: 56px 48px 0 48px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10px auto;
  text-align: center;
  white-space: normal;
}
.header-text > div {
  display: inline-block;
  padding: 8px;
  position: relative;
  vertical-align: top;
  word-wrap: break-word;
  background-color: transparent;
}
.header-text .span {
  color: #434343;
  font-family: 'Permanent Marker', 'Arial';
  font-weight: normal;
  vertical-align: baseline;
  line-height: 1.25;
  font-size: 60.0pt;
}
.intro > div {
  width: 100%;
  max-width: 1280px;
  padding: 0px 48px 0 48px;
  margin: 0 auto 0 auto;
  text-align: left;
}
.intro .abovetext {
  display: inline-block;
  padding: 8px;
  position: relative;
  word-wrap: break-word;
  white-space: normal;
  margin: 0 1.25% 0 1.25%;
}
.abovetext > small {
  display: block;
  font-size: 9pt;
  position: relative;
  font-family: 'Times New Roman', 'Arial'; 
  font-weight: normal; 
  line-height: 1.2;
}
.abovetext > small .smallh1 {
  font-family: 'Oswald', 'Arial'; 
  font-size: 18pt; 
  color: rgba(33,33,33,1);
}
.abovetext .maintext {
  font-size: 13pt;
}
span.count {
  color: #666666; 
  font-size: 13pt; 
}

#h3 { background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      text-align: left;
      text-indent: 0; }
#h3span { line-height: 1.524;
	  color: #0000ff;
	  font-family: 'Amarante', 'Arial';
	  font-size: 17pt;
	  vertical-align: baseline; }
#p1 { background-color: transparent;
      border: none;
      line-height: 1.8599999999999999;
      margin: 0; 
      margin-top: 11pt;
      padding: 0;
      text-align: left;
      text-indent: 0; 
      font-family: 'Architects Daughter', 'Arial';
      color: #000000;
      font-size: 13pt;
      text-decoration: normal; }
#p1span { text-decoration: underline;
	  vertical-align: baseline; }
#p2 { background-color: transparent;
      border: none
      line-height: 1.8599999999999999;
      margin: 0pt;
      padding: 0;
      text-align: right;
      text-indent: 0;
      font-family: 'Architects Daughter', 'Arial';
      color: #000000;
      font-size: 13pt;
      text-decoration: normal; }


@media only screen and (max-width: 767px) {
  section.header, section.intro {
    padding-bottom: 0rem !important;
    padding-top: 0rem ! important;
  }
  .header-text > div {
    box-sizing: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header-text .span {
    font-size: 40.0pt;
  }
  .intro > div {
    padding: 1.5rem 3.75% 1.5rem 3.75%;
  }
}