  @media only screen and (max-width: 479px) { .FdCeP { font-size: 33.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .FdCeP { font-size: 41.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .FdCeP { font-size: 48.0pt; } }
  @media only screen and (min-width: 1280px) { .FdCeP { font-size: 48.0pt; } }
  @media only screen and (max-width: 479px) { .qVJ7Ab { font-size: 18.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .qVJ7Ab { font-size: 20.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .qVJ7Ab { font-size: 21.0pt; } }
  @media only screen and (min-width: 1280px) { .qVJ7Ab { font-size: 21.0pt; } }

section[id="h.70f5bd27e8779e9_49"] .IFuOkc:before { opacity: 0.4; }

#h3span { color: #6396c6;
	  font-family: 'Lora', 'Arial';
	  font-size: 14pt;
	  font-variant: normal;
	  vertical-align: baseline; }
#divp { padding-top: 8.78%;
	padding-bottom: 8.78%;
	height: 127.367px; }
#pspan { font-family: 'Merriweather', 'Arial';
	 font-size: 11.5pt;
	 font-variant: normal;
	 font-weight: normal;
	 vertical-align: baseline; }