  @media only screen and (max-width: 479px) { .gBYvFf { font-size: 16.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .gBYvFf { font-size: 16.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .gBYvFf { font-size: 16.0pt; } }
  @media only screen and (min-width: 1280px) { .gBYvFf { font-size: 16.0pt; } }
  @media only screen and (max-width: 479px) { .puwcIf { font-size: 20.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .puwcIf { font-size: 22.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .puwcIf { font-size: 24.0pt; } }
  @media only screen and (min-width: 1280px) { .puwcIf { font-size: 24.0pt; } }
  @media only screen and (max-width: 479px) { .jgG6ef { font-size: 17.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .jgG6ef { font-size: 17.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .jgG6ef { font-size: 18.0pt; } }
  @media only screen and (min-width: 1280px) { .jgG6ef { font-size: 18.0pt; } }

section[id="h.2ae2110b4c077c87_21"] .IFuOkc:before { opacity: 0.7; }
section[id="h.2ae2110b4c077c87_25"] .IFuOkc:before { opacity: 0.0; }
section[id="h.2ae2110b4c077c87_76"] .IFuOkc:before { opacity: 0.0; }
section[id="h.2ae2110b4c077c87_90"] .IFuOkc:before { opacity: 0.0; }
section[id="h.76bd044f8cf7a797_0"] .IFuOkc:before { opacity: 0.0; }

table.TMjjoe:not(.TYR86d) {
  display: grid
}
table[id="h.skjdznbeope"] {
  justify-content: center;
  line-height: 1.4 !important;
}
table[id="h.skjdznbeope"] td {
  width: 175px;
  text-align: center;
  color: #004281; 
  font-family: 'Comic Sans MS', 'Arial'; 
  font-size: 13pt; 
  font-weight: normal; 
  vertical-align: baseline;
}
table[id="h.skjdznbeope"] td > .url {
  color: #004281; 
  text-decoration: underline; 
  vertical-align: baseline;
}
table[id="h.skjdznbeope"].mobile {
  display: none;
}
@media only screen and (max-width: 1140px) {
  table[id="h.skjdznbeope"]:not(.mobile) {
    display: none;
  }
  table[id="h.skjdznbeope"].mobile {
    display: grid;
  }
}
