  @media only screen and (max-width: 479px) { .afVDVd { font-size: 40.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .afVDVd { font-size: 51.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (min-width: 1280px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (max-width: 479px) { .KB0Tx { font-size: 18.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .KB0Tx { font-size: 19.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (min-width: 1280px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (max-width: 479px) { .jW0mOd { font-size: 16.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 1280px) { .jW0mOd { font-size: 17.0pt; } }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(233,237,235,1);
}
body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body > div * {
  box-sizing: border-box;
}
.main {
  flex: 0 0 auto;
  outline: none;
}
section.header, section.intro, section.socials, footer {
  background-size: cover;
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  background-color: rgb(255, 255, 255);
}
section.header::before, section.header > .img::before, .abovetext > small::before {
  content: "";
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
}
.img {
  display: table-cell;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  position: absolute;
  border-bottom-color: rgba(95,182,149,1);
  border-bottom-style: ridge;
  border-bottom-width: 10px;
  animation: move-img;
  animation-timeline: scroll();
}
@keyframes move-img {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1000px);
  }
}
section.header > .img::before {
  display: block !important;
  background-color: rgba(33,33,33,1);
  opacity: 0.4;
}
section.header > .header-text {
  padding: 22px 48px 22px 48px;
  width: 100%;
  max-width: 1280px;
  margin: 56px auto 10px auto;
  text-align: center;
  white-space: normal;
}
.header-text > div {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px;
  position: relative;
  vertical-align: top;
  word-wrap: break-word;
  background-color: transparent;
}
.header-text .span {
  color: #efefef;
  font-family: 'Permanent Marker', 'Arial';
  font-weight: normal;
  vertical-align: baseline;
  line-height: 1.25;
  font-size: 60.0pt;
}
.intro > div, footer > div {
  width: 100%;
  max-width: 1280px;
  padding: 0px 48px 0 48px;
  margin: 0 auto 0 auto;
  text-align: left;
}
.intro .abovetext, footer .abovetext {
  display: inline-block;
  padding: 8px;
  position: relative;
  word-wrap: break-word;
  white-space: normal;
  margin: 0 1.25% 0 1.25%;
}
.abovetext > small {
  display: block;
  font-size: 9pt;
  position: relative;
  font-family: 'Times New Roman', 'Arial'; 
  font-weight: normal; 
  line-height: 1.2;
}
.abovetext > small .smallh1 {
  font-family: 'Oswald', 'Arial'; 
  font-size: 18pt; 
  color: rgba(33,33,33,1);
}
.abovetext .maintext {
  font-size: 13pt;
}
span.count {
  color: #666666; 
  font-size: 13pt; 
}
hr.line {
  background-color: rgba(193,196,195,1);
  height: 3px;
  width: 73%;
  max-width: 1280px;
  padding: 0 48px 0 48px;
  margin: 8px auto 8px auto;
  border-color: transparent;
}
section.socials, footer {
  background-color: initial;
  white-space: nowrap;
}
.socials > div {
  width: 100%;
  margin: -1.5rem auto -1.5rem auto;
  padding: 0 77.5px 0 77.5px;
  max-width: 95%;
  background-color: rgb(228, 174, 98);
  border-color: rgb(228, 174, 98);
  border-top-width: 22.5px;
  border-bottom-width: 22.5px;
  border-style: solid;
  border-radius: 33px;
}
.socials .element {
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding: 8px;
  margin: -1.25rem 0 -1.25rem 0;
  word-wrap: break-word;
}
.element > p {
  font-family: 'Comic Sans MS', 'Arial';
  font-size: 13pt;
  line-height: 1.55;
  color: rgba(33,33,33,1);
  margin: 0;
}
footer .abovetext {
  background-color: rgba(255, 255, 255, 1);
  width: 97.5%;
  font-family: Roboto Slab;
  font-size: 9pt;
  line-height: 1.2;
  text-align: center;
  white-space: pre-wrap;
}
footer .abovetext a {
  color: inherit;
}
footer .abovetext small {
  color: #000000;
  font-family: 'Aclonica', 'Arial';
  margin: 3px 0 -3px 0;
}
footer .abovetext small a {
  color: #0b5394;
  text-decoration: none;
}

section.v-grey, section.v-white {
  background-size: cover;
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  padding: 0.5rem 0.25rem;
}
section.v-grey {
  background-color: rgb(214, 214, 214);
}
section.v-white {
  background-color: rgb(249, 249, 249);
}
.v-grey > div, .v-white > div {
  width: 100%;
  max-width: 1280px;
  padding: 0 48px 0 48px;
  margin: 0 auto 0 auto;
  white-space: nowrap;
}
.video, .description {
  width: 66.666667%;
  display: inline-block;
  padding: 0 1.25% 0 1.25%;
  position: relative;
  vertical-align: top;
}
.video > * {
  width: 100%;
}
.description {
  width: 33.333333%;
}
h3 {
  color: #0000ff;
  font-family: 'Amarante', 'Arial';
  font-weight: 400;
  font-size: 17.0pt;
  line-height: 1.27;
  padding: 15px 8px 20px 4px;
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.description > .content, .content2 {
  color: rgba(0,0,0,1);
  font-family: 'Architects Daughter', 'Arial';
  font-variant: normal;
  font-weight: normal;
  font-size: 13pt;
  line-height: 1.55;
  padding: 8px 8px 8px 4px;
  word-wrap: break-word;
  white-space: normal;
}
.content a {
  color: inherit;
  text-decoration: underline;
}
.content p, .content2 p {
  margin: 0;
}
.content2 {
  padding: 10% 0 0 4px;
}
.ltt-time {
  font-family: 'Arial';
  font-size: 12.5pt;
}

section#section:first-child .mYVXT {
  padding-top: 0 !important;
}
#section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#div-above-iframe {
  margin-top: -35px;
  margin-bottom: -35px;
}
#div-2above-jsr {
  margin-top: 0;
  margin-bottom: -53px;
}
#rumble-js {
  height: 89%;
}
#h3span-right {
  color: #0000ff;
  font-family: 'Amarante', 'Arial';
  vertical-align: baseline; 
}
#pspan-right {
  font-family: 'Architects Daughter', 'Arial';
  font-variant: normal;
  font-weight: normal;
  color: rgba(0,0,0,1);
  font-size: 13pt;
  line-height: 1.55;
}

@media only screen and (max-width: 767px) {
  @media (pointer: coarse) {
    section.header > .header-text {
      margin-top: 85px;
    }
  }
  section.header, section.intro, footer {
    padding-bottom: 0rem !important;
    padding-top: 0rem ! important;
  }
  .header-text > div {
    box-sizing: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header-text .span {
    font-size: 40.0pt;
  }
  .intro > div, .socials > div, footer > div {
    padding: 1.5rem 3.75% 1.5rem 3.75%;
  }
  hr.line {
    width: 90%;
  }
  section.socials > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0rem 2.5% 0rem 2.5%;
  }
  .element {
    width: 50% !important;
    margin: 0 !important;
  }
  .element:nth-of-type(2) {
    margin-bottom: 2%;
  }
  
  .v-grey > div, .v-white > div {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 5px 0.5rem 5px;
  }
  .video, .description {
    width: 100%;
  }
  .video {
    margin-left: 10%;
  }
  .video > * {
    max-width: 500px;
  }
  h3 {
    padding-top: 1.5rem;
  }
  .content2 {
    padding-top: 0 !important;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 479px) {
  .element {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .element:nth-of-type(2) {
    margin-bottom: 15% !important;
  }
  .element > div {
    margin: 0 !important; 
  }
  .element > p {
    margin: 0 !important;
  }
  
  .video {
    margin: 0 !important;
  }
  .content2 {
    margin-top: 10%;
  }
}