  @media only screen and (max-width: 479px) { .afVDVd { font-size: 40.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .afVDVd { font-size: 51.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (min-width: 1280px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (max-width: 479px) { .KB0Tx { font-size: 18.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .KB0Tx { font-size: 19.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (min-width: 1280px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (max-width: 479px) { .jW0mOd { font-size: 16.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 1280px) { .jW0mOd { font-size: 17.0pt; } }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(233,237,235,1);
}
body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body > div * {
  box-sizing: border-box;
}
.main {
  flex: 0 0 auto;
  outline: none;
}
section.header {
  background-size: cover;
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
section.header::before, section.header > .img::before {
  content: "";
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
}
.img {
  display: table-cell;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  position: absolute;
}
section.header > .img::before {
  display: block !important;
  background-color: rgba(33,33,33,1);
  opacity: 0.3;
}
section.header > .header-text {
  padding: 56px 48px 0 48px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 0 auto;
  text-align: center;
  white-space: pre-wrap;
}
.header-text > div {
  box-sizing: border-box;
  display: inline-block;
  padding: 8px;
  position: relative;
  vertical-align: top;
  word-wrap: break-word;
  background-color: transparent;
}
.header-text .span {
  color: #efefef;
  font-family: 'Permanent Marker', 'Arial';
  font-weight: normal;
  vertical-align: baseline;
  line-height: 1.25;
  font-size: 60.0pt;
}

section#section:first-child .mYVXT {
  padding-top: 0 !important;
}
#section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#div-above-iframe {
  margin-top: -35px;
  margin-bottom: -35px;
}
#div-2above-jsr {
  margin-top: 0;
  margin-bottom: -53px;
}
#rumble-js {
  height: 89%;
}
#h3span-right {
  color: #0000ff;
  font-family: 'Amarante', 'Arial';
  vertical-align: baseline; 
}
#pspan-right {
  font-family: 'Architects Daughter', 'Arial';
  font-variant: normal;
  font-weight: normal;
  color: rgba(0,0,0,1);
  font-size: 13pt;
  line-height: 1.55;
}

@media only screen and (max-width: 767px) {
  section.header {
    padding-bottom: 0rem !important;
    padding-top: 0rem ! important;
  }
  .header-text > div {
    box-sizing: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header-text .span {
    font-size: 40.0pt;
  }
}