  @media only screen and (max-width: 479px) { .afVDVd { font-size: 40.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .afVDVd { font-size: 51.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (min-width: 1280px) { .afVDVd { font-size: 60.0pt; } }
  @media only screen and (max-width: 479px) { .KB0Tx { font-size: 18.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .KB0Tx { font-size: 19.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (min-width: 1280px) { .KB0Tx { font-size: 20.0pt; } }
  @media only screen and (max-width: 479px) { .jW0mOd { font-size: 16.0pt; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 768px) and (max-width: 1279px) { .jW0mOd { font-size: 17.0pt; } }
  @media only screen and (min-width: 1280px) { .jW0mOd { font-size: 17.0pt; } }

section[id="h.6c4b23a2966b736b_106"] .IFuOkc:before { opacity: 0.6; }

.SwuGbc section:first-child .mYVXT {
  padding-top: 0 !important;
}
#section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#div-above-iframe {
  margin-top: -35px;
  margin-bottom: -35px;
}
#div-2above-jsr {
  margin-top: 0;
  margin-bottom: -53px;
}
#rumble-js {
  height: 89%;
}
#h3span-right {
  color: #0000ff;
  font-family: 'Amarante', 'Arial';
  vertical-align: baseline; 
}
#pspan-right {
  font-family: 'Architects Daughter', 'Arial';
  font-variant: normal;
  font-weight: normal;
  color: rgba(0,0,0,1);
  font-size: 13pt;
  line-height: 1.55;
}